<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}">
      <img class="titleImg" src="/assets/favicon.png" style="width: 35px; height: 35px;"/> {{ site.title | escape }}
    </a>
    
    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
<style>
.titleImg {
  /* display: block;
  float: left; */
  
}
@media (max-width: 1400px) {
  .titleImg {
    display: none;
  }
}
</style>
