---
layout: default
permalink: '/category'
---

<div class="category-wrap">

    <h1 class="category-title"><strong>Node.js</strong></a></h1>
    <ul class="posts-list">
        <li>
            <h3>
                <a href="/2023/03/20/Nodejs-Multer/">Node.JS API multer 이미지 업로드 + [postman 사용]</a>
                <small>2023.03.20</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/03/10/Nodejs-CryptoJS/">Node.JS Crypto-js로 암호화 복호화 해보기</a>
                <small>2023.03.10</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/03/05/Nodejs-JWT/">Node.JS JWT 생성하기</a>
                <small>2023.03.05</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/03/01/Nodejs-DB">Node.JS DB연동 Mybatis-mapper</a>
                <small>2023.03.01</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/02/05/Nodejs-RestAPI-POST">Node.JS Rest API 구현 POST방식 + Postman</a>
                <small>2023.02.05</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/02/04/Nodejs-RestAPI-GET">Node.JS Rest API 구현 GET방식 + Postman</a>
                <small>2023.02.04</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/02/01/Nodejs-Express">node.js Express 웹 서버 구동하기</a>
                <small>2023.02.01</small>
            </h3>
        </li>
    </ul>

    <h1 class="category-title"><strong>Java</strong></a></h1>
    <ul class="posts-list">
        <li>
            <h3>
                <a href="/2023/02/01/JavaSpringBoot-Gradle-War/">Java Spring Boot Swagger tomcat9 배포</a>
                <small>2023.02.01</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/01/20/JavaSpringBoot-SignIn/">Java Spring Boot Swagger Login</a>
                <small>2023.01.20</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/01/17/JavaSpringBoot-SignUp/">Java Spring Boot Swagger 회원가입하기</a>
                <small>2023.01.17</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/01/15/JavaSpringBoot-Swagger/">Java Spring Boot Swagger 연결하기</a>
                <small>2023.01.15</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/01/11/JavaSpringBoot-FcmPush/">Java Spring Boot FCM PUSH 연동하기</a>
                <small>2023.01.11</small>
            </h3>
        </li>
    </ul>

    <h1 class="category-title"><strong>Swift</strong></a></h1>
    <ul class="posts-list">
        <li>
            <h3>
                <a href="/2022/05/05/Swift-Thread/">Swift Thread 처리</a>
                <small>2022.05.05</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2022/04/27/UserDefault-save/">Swift UserDefaults로 데이터 저장하기</a>
                <small>2022.04.27</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2022/03/31/WKWebView-new-window/">Swift WKWebView 새창 열기</a>
                <small>2022.03.31</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2022/01/20/textFiled-notification/">Swift ViewController present 데이터 전달</a>
                <small>2022.03.24</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2022/01/20/textFiled-notification/">Swift TextField 키보드 감지 하기(NotificationCenter)</a>
                <small>2022.01.20</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2021/08/15/Swift-Alamofire-api/">Swift Alamofire API 통신</a>
                <small>2021.08.15</small>
            </h3>
        </li>
    </ul>

    <h1 class="category-title"><strong>Git Blog</strong></a></h1>
    <ul class="posts-list">
        <li>
            <h3>
                <a href="/2023/05/01/Github-Blog(1)/">Github Blog 만들기(1)</a>
                <small>2023.05.01</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/05/01/Github-Blog(2)/">Github Blog 만들기(2)</a>
                <small>2023.05.01</small>
            </h3>
        </li>
        <li>
            <h3>
                <a href="/2023/05/02/Github-Blog(3)/">Github Blog 만들기(3)</a>
                <small>2023.05.02</small>
            </h3>
        </li>
    </ul>

    <h1 class="category-title"><strong>정보처리기사</strong></a></h1>
    <ul class="posts-list">
        <li>
            <h3>
                <a href="/2023/11/15/Information-processing-1/">정보처리기사 어캐땀?</a>
                <small>2023.11.15</small>
            </h3>
        </li>
</div>